coverage
node_modules
.next
.serverless
build
dist
sls-next-build
examples
fixture
*-fixture
integration/basic-app
integration/basic-app-with-nested-next-config
integration/app-with-serverless-offline
