/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #303846;
}

.sectionBanner {
  padding: 4rem 0;
}

.mainLogo {
  width: 8rem;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStarted {
  color: #fff;
  background-color: #ec675d;
  border: none;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 150px;
  width: 150px;
}

.motivationContainer {
  padding-top: 2rem;
  height: '50vh';
  font-size: '20px';
}

.architectureImg {
  max-width: 100%;
  height: auto;
}

/* Responsive */
@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .sectionBanner {
    padding: 2rem 0;
  }
}
