const reqResMapper = require('aws-lambda-create-request-response')
const page = require("/*path_placeholder*/");

module.exports.render = (event, context, callback) => {
  const { req, res } = reqResMapper(event, callback);
  page.render(req, res);
};